ul,h1 { font-family: 'VT323' !important; }
.uk-navbar-nav,.uk-navbar-flip{font-family: 'VT323';}
#logo {  background-color: blue;  height: 40px;  width: 150px;  float: left;  padding-left: 30px;}

.uk-block, .uk-block-primary{ padding-left:20px; }

.space{}

html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}